<footer class="footer navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-right">
      The BooksDB
      by <a href="https://github.com/TaigaMikami/BookDB_Lab">Taiga Mikami</a>
    </div>
  </div>
  <!-- <nav>
  </nav> -->
</footer>
